<nav class="navbar navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{{ path('app_front_home') }}">
            🌎 Lendfusion News Feed
        </a>
    </div>
</nav>
